{% extends "base.html.j2" %}

{% block title %}Uploader - Dashboard{% endblock %}

{% block content %}

<style>
	{% include '/css/form.css' %}
	{% include '/css/files.css' %}
</style>

<header>
	<p><span>{{ username }}</span> (ID: <span>{{ id }}</span>)</p>
	{% if admin == 1 %}
	<a href="/users">Users</a>
	{% endif %}
	<a href='/logout'>Logout</a>
</header>

<hr>

<p>
	<u>Upload files:</u>
</p>
<button id="uploadbutton">
	Select files
</button>
<input type='file' id='file' name='file' multiple style="display: none">

{% if files %}
<hr>

<p>
	<u>Files:</u>
</p>
<div id='files'>
	{% for file in files %}
	<div class="file">
		<a href='{{ file.url }}'>{{ file.filename }}</a>
		<div class="actions">
			<button onclick="copyToClipboard('{{ file.url }}')">
				{% include 'svg/copy.svg' %}
			</button>
			<a href='/delete/{{ file.filename }}'>
				{% include 'svg/trash.svg' %}
			</a>
		</div>
	</div>
	{% endfor %}
</div>
{% endif %}

<script>
	{% include '/js/copy.js' %}
	{% include '/js/upload.js' %}
</script>

{% endblock %}
